@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Estilos para daltonismo */
.colorblind-protanopia {
  filter: grayscale(50%) sepia(50%);
}

.colorblind-deuteranopia {
  filter: hue-rotate(180deg) saturate(80%);
}

.colorblind-tritanopia {
  filter: invert(100%) hue-rotate(180deg);
}